# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/app/node_modules

# testing
/app/coverage

# production
/app/build

# misc
/app/.DS_Store
/app/.env
/app/npm-debug.log
.idea